<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="icon" href="/icons/favicon.ico">
    <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="48x48" />
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="92x92" />
    <link rel="icon" type="image/png" href="/icons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/icons/favicon-512x512.png" sizes="512x512" />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <link href="common/style.css" rel="stylesheet" type="text/css" />
    <script type="module" src="common/script.js"></script>
  </head>
  <body>
    <section class="page-grid">
      <div id="page-grid-top-left-curve"></div>
      <div id="page-grid-top-line"></div>
      <div id="page-grid-top-right-curve"></div>
      <div id="page-grid-middle-fill"></div>
      <div id="page-grid-middle-content">
        <section class="contact-info">
          <h1 id="contact-info-name"></h1>
          <h2 id="contact-info-title"></h2>
        </section>
        <hr />
        <section class="contact-info">
          <h3 id="contact-info-location"></h3>
          <h3>•</h3>
          <h3 id="contact-info-email"></h3>
          <h3>•</h3>
          <h3 id="contact-info-phone"></h3>
        </section>
        <h2>Professional Summary</h2>
        <section id="professional-summary-section">
          <p id="professional-summary-paragraph">
          </p>
        </section>
        <hr />
        <h2>Areas of expertise</h2>
        <section id="areas-of-expertise-section">
        </section>
        <hr />
        <h2>Key Accomplishments</h2>
        <section id="key-accomplishments-section">
        </section>
        <hr />
        <h2>Professional Experience</h2>
        <section id="professional-experience-section">
        </section>
        <hr />
        <section id="credentials-section">
          <article id="education-section">
            <h2 class="credential-item">Education</h2>
            <ul id="education-list" class="credential-item">
            </ul>
          </article>
          <div></div>
          <div id="credentials-separator"></div>
          <div></div>
          <article id="certifications-section">
            <h2 class="credential-item">Certifications</h2>
            <ul id="certification-list" class="credential-item">
            </ul>
          </article>
        </section>
        <hr />
        <section id="view-counter-grid">
          <h3 id="view-counter-word">Views</h3>
          <div class="view-counter-box" id="view-counter-hundred-thousands"> </div>
          <div class="view-counter-box" id="view-counter-ten-thousands"> </div>
          <div class="view-counter-box" id="view-counter-thousands"> </div>
          <div class="view-counter-box" id="view-counter-hundreds"> </div>
          <div class="view-counter-box" id="view-counter-tens"> </div>
          <div class="view-counter-box" id="view-counter-ones"> </div>
        </section>
        <section id="footer-section"></section>
      </div>
      <div id="page-grid-bottom-left-curve"></div>
      <div id="page-grid-bottom-line"></div>
      <div id="page-grid-bottom-right-curve"></div>
    </section>
  </body>
</html>